.about {
  &__box {
  }

  &__subheading {
  }

  &__text {
  }

  &__row {
    display: flex;
    border: 1px solid #000;
  }

  &__image {
    display: flex;
    flex: 0 0 868px;
    background: url("./../image/Rectangle\ 2.jpg") 0 0 / contain no-repeat;
    height: 622px;
    margin-right: 32px;
  }

  &__block {
  }
}

.image {
  &__wrap-info {
  }

  &__text {
  }

  &__wrap-link {
  }

  &__link {
  }
}

.block {
  &__upper {
  }
}
.upper {
  &__row {
    display: flex;
    flex-direction: column;
    // border: 1px solid #000;
  }

  &__wrap-image {
    margin-right: 50px;
  }

  &__body {
    display: flex;
    padding: 65px 118px 65px 50px;
    border: 1px solid #000;
  }

  &__subtitle {
  }

  &__text {
    line-height: 200%;
  }
}
